.img {
  width: 75px;
  margin-right: 2%;
}

.likes {
  display: flex;
  justify-content: space-evenly;
}

.headerCard{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card{
  text-align: center;
  margin: 1% 3.5%;
}

.thumbIcon{
  cursor: pointer;
}
