.post {
  display: flex;
  justify-content: space-between;
}

.icons {
  display: flex;
  align-items: center;
  width: 10%;
  justify-content: space-between;
}

.icon {
  cursor: pointer;
}

.popup {
  position: absolute;
  max-width: 75%;
  min-width: 75%;
  left: 10%;
}

@media (max-width: 850px) {
  .icons {
    flex-direction: column;
  }
}
