.cardReview {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 1%;
  margin-top: 1%;
}

.headerReview, .wrapperTitleRating {
  display: flex;
  margin-bottom: 1%;
  justify-content: space-between;
}

.dnd {
  display: flex;
  width: 100%;
  padding: 1% 0 0;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.submit {
  width: 13%;
  padding: 1%;
  line-height: 20px;
}

.error {
  color: red;
  font-size: 12px;
}

@media (max-width: 1050px) {
  .submit {
    width: 17%;
  }
}

@media (max-width: 890px) {
  .submit {
    width: 20%;
  }
}

@media (max-width: 730px) {
  .submit {
    width: 25%;
  }
}

@media (max-width: 600px) {
  .submit {
    width: 30%;
  }
  .headerReview {
    flex-direction: column;
  }
}

@media (max-width: 440px) {
  .dnd {
    flex-direction: column;
    align-items: center;
  }
  .submit {
    width: 35%;
    margin-top: 2%;
  }
}

@media (max-width: 380px) {
  .submit {
    width: 55%;
  }
}
