.sidebar {
  position: fixed;
  left: 2px;
  top: 250px;
  height: 143px;
  justify-content: space-evenly;
  z-index: 20;
  align-items: center;
}

.fb,
.google {
  background-size: 40px 40px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}
.fb {
  background-size: 42px 42px;
  background-image: url('https://res.cloudinary.com/megacritic/image/upload/v1637177184/facebook_logo_icon_147291_uz4eoj.png');
}

.google {
  background-image: url('https://res.cloudinary.com/megacritic/image/upload/v1637177188/Google_Chrome_icon__September_2014_.svg_iks9gz.webp');
}

.iconAdmin {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  padding: 22%;
  background-color: gainsboro;
  cursor: pointer;
}
